/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.header-backgroung {
  background-color:#D64A4A;
}
.large-text {
  font-size: 100px;
  text-align: left;
  color: white;
  
  display: inline-block;
}

.bold-text {
  font-weight:bold;
}

.page-title{
  margin-top:10px;
  font-size: 50px;
  font-weight:bold;
}

.form-style{
  max-width: 300px;
  
}

.entry-error{
  color: red;
  font-weight: bold;
}

