<!DOCTYPE html>

<html>
  <head>
    <title>New Campaign</title>
  </head>
  
  <body>
    <h1>Gofind.ai Ad Server</h1>
    
    <h2>New Campaign</h2>
    
    <form method="POST">
      <table>
        <tr>
          <td class="label">
            Category
          </td>
          <td>
            <select name="category">
              <p>items</p>
              {% for i in items %}
                <option value="{{ i }}" {{ selected[i] }}>{{ i }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Budget
          </td>
          <td>
            <input type="text" name="budget" value="{{ budget }}">
              </td>
          <td class="error">
            {{error_budget}}
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Minimum Bidding Price
          </td>
          <td>
            <input type="text" name="min_bid" value="{{ min_bid }}">
          </td>
          <td class="error">
            {{error_min}}
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Maximum Bidding Price
          </td>
          <td>
            <input type="text" name="max_bid" value="{{ max_bid }}">
          </td>
          <td class="error">
            {{error_max}}
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Ad url
          </td>
          <td>
            <input type="text" name="ad_url" value="{{ ad_url }}">
              </td>
          <td class="error">
            {{error_ad_url}}
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Description
          </td>
          <td>
            <input type="text" name="description" value="{{ description }}">
          </td>
        </tr>
      </table>
      
      <input type="submit">
      <a href = '{{ url_for('welcomeback') }}'>Cancel</a>
    </form>
    
  </body>
  
</html>
