<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link rel="icon" href="../static/gofind2.png">
  </head>
  
  <body>
    
    <div class="container text-center">
      <div class="header">
        <div class="row header-backgroung">
          <div class="col-md-4 large-text">
            <a href="{{ url_for('index') }}">
              <img src="../static/gofind.png" class="img-responsive pull-right" alt="gofind logo">
            </a>
          </div>
          <div class="col-md-8 pull-left large-text">
            <div class="large-text bold-text">GO</div>
            <div class="large-text">FIND</div>
          </div>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-md-12">
          <h1 class="page-title">SIGN UP</h1>
        </div>
      </div>
      
      <form class="form-signin form-style center-block" method="POST">
        
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="password" name="verify" class="form-control" placeholder="Verify Password" required>
        
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <br>
        <p class="entry-error">{{error}}</p>
        <br>
        <p>
          <a class="btn btn-lg btn-success btn-block" href="{{ url_for('login') }}" role="button">Sign in</a>
        </p>
      </form>
      
  </body>
  
</html>
