<!DOCTYPE html>

<html>
  <head>
    <title>Welcome Back</title>
  </head>
  
  <body>
    <h1>Gofind.ai Ad Server</h1>
    
    <h2>Welcome Back</h2>
    
    <a href = '{{ url_for('bill') }}'>Current Bill: {{ bill }}</a>
    <a href = '{{ url_for('newcampaign') }}'>New Campaign</a>
    
    <br>
    <br>
    <a href = '{{ url_for('logout') }}'>logout</a>
    
    <h3>Existing Campaigns</h3>
    
    <table border="1" width="100%" height="100">
      <tr>
        <td>Campaign ID</td>
        <td>Category</td>
        <td>Budget</td>
        <td>Minimun Bidding Price</td>
        <td>Maximum Bidding Price</td>
        <td>Ad url</td>
        <td>Description</td>
        <td>Current Cost</td>
        <td> </td>
      </tr>
      {% for i in items %}
        <tr>
          {% for j in i %}
          <td>{{ j }}</td>
          {% endfor %}
          <td> <a href = '{{ url_for('modify', campaign_id=i[0]) }}'>Modify</a> </td>
        </tr>
      {% endfor %}
    </table>
  </body>
  
</html>
